@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overscroll-behavior: none;
}
